.button {color: #000;
    font-family: Alegreya;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:300px;
    height: 75px;
    background: var(--nvm-its-yellow, #FDC542);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    margin-top: 25px;
    }

.button2 {color: #4d4d4d;
    font-family: Alegreya;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    height: 75px;
    background: var(--nvm-its-yellow, #c5c5c5);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    margin-top: 35px;
    }

.doubleButton {
    
}